<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Marcador de tento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="background"></div>
    <div class="botoes">
      <ion-grid>
        <ion-row class="estiloBotoes">
          <ion-button color="dark" size="large">+1</ion-button>
          <ion-button color="dark"size="large">+3</ion-button>
          <ion-button color="dark" size="large">+6</ion-button>
          <ion-button color="dark" size="large">+9</ion-button>
          <ion-button color="dark" size="large">+12</ion-button>
        </ion-row>
      </ion-grid>
    </div>
    <div class="acao">
      <ion-grid>
        <div class="esquerda">
            <ion-col  size="6" size-md="4" size-lg="2"><h1 class="ion-text-center">NÓS</h1></ion-col>
            <ion-col size="6" size-md="4" size-lg="2"><ion-button color="warning" expand="block" shape="round">+</ion-button></ion-col>
            <ion-col size="6" size-md="4" size-lg="2"><h1 class="ion-text-center">0</h1></ion-col>
            <ion-col size="6" size-md="4" size-lg="2"><ion-button color="warning" expand="block" shape="round">-</ion-button></ion-col>
        </div>
      </ion-grid>
      <ion-grid>
        <div class="direita">
          <ion-col size="6" size-md="4" size-lg="2"><h1 class="ion-text-center">ELES </h1></ion-col>
          <ion-col>
            <ion-col size="6" size-md="4" size-lg="2"><ion-button color="warning" expand="block" shape="round" >+</ion-button></ion-col>
            <ion-col size="6" size-md="4" size-lg="2"><h1 class="ion-text-center">0</h1></ion-col>
            <ion-col size="6" size-md="4" size-lg="2"><ion-button color="warning" expand="block" shape="round">-</ion-button></ion-col>
          </ion-col>
        </div>
      </ion-grid>
    </div>
    <div>
      <ion-item>
        <ion-label>Vitórias NÓS = </ion-label>
        <ion-input value="0" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Vitórias ELES = </ion-label>
        <ion-input value="0" [readonly]="true"></ion-input>
      </ion-item>
    </div>
  </div>

</ion-content>
